Research Copilot.json
{
  "name": "Research Copilot",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "fcd92524-a38d-4b37-bb4a-878e50704bb6",
      "name": "When clicking ‘Execute workflow’",
      "disabled": true
    },
    {
      "parameters": {
        "url": "https://www.amazon.in/",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "6f6c9b6c-01c4-4547-81f8-a2f8b9d49406",
      "name": "HTTP Request",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "content",
              "cssSelector": "body"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        416,
        0
      ],
      "id": "ad3bb55f-210c-44a7-ba59-a0a754801545",
      "name": "HTML",
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Summarize the following webpage content in 5 clear bullet points.\nKeep it short and simple.\n\nCONTENT:\n {{ $json.content }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        832,
        0
      ],
      "id": "dc8f9f9a-ed67-44a1-ba19-cfcf27a746c1",
      "name": "Basic LLM Chain",
      "disabled": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        704,
        208
      ],
      "id": "ec3cc303-a9c6-4322-a2cd-5e6a74146152",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "xosGzBY5ueANoVTC",
          "name": "n8n free OpenAI API credits"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "sendTo": "rohitgupta006@gmail.com, lucidshashi@gmail.com",
        "subject": "Research Copilot Summary",
        "emailType": "text",
        "message": "={{ $json.text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1184,
        0
      ],
      "id": "2952ed57-dec7-4a31-a793-86e9c2cce861",
      "name": "Send a message",
      "webhookId": "484e5cbc-0a0e-470a-b05e-e050de43c959",
      "credentials": {
        "gmailOAuth2": {
          "id": "S0q7y8woLUrLHMEG",
          "name": "Gmail account"
        }
      },
      "disabled": true
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "17ba6771-9528-423b-83a7-395805066b1c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c06f74f32476657fd5efcfc62e7747215a75d76aba3a81160f8d4fd3595423a5"
  },
  "id": "mfxLD3cmqps7EJjG",
  "tags": []
}